
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: #f8f8f8;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0px;
    }

    .card {
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        display: flex;
        overflow: hidden;
        position: relative;
    }

  
    .circulo {
        position: absolute;
        background: #1d1c39;
        border-radius: 50%;
    }

    .circulo.esquerda {
        width: 380px;
        height: 380px;
        top: -80px;
        left: -80px;
    }

    .circulo.direita {
        width: 460px;
        height: 460px;
        bottom: -80px;
        right: -80px;
    }

    
    .left-area {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-left: 20px;
        position: relative;
        z-index: 2;
    }

    .left-area img {
        width: 100%;
        border-radius: 30px;
    }

   
    .right-area {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        z-index: 2;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif ;
    }

    .input-group {
        margin-bottom: 15px;
    }

    input {
        
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #ccc;
        transition: 0.3s;
        font-size: 17px;
    }

    input:focus {
        border-color: #3b7dff;
        outline: none;
        box-shadow: 0 0 0 2px rgba(59, 125, 255, 0.2);
    }

    button {
        background: #560b89;
        color: #fff;
        border: none;
        padding: 15px 0;
        width: 40%;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        margin: 0 auto;
        display: block;
        transition: 0.3s;
    }

    button:hover {
        background: #440a6b;
    }

    @media (max-width: 850px) {
        .card {
            flex-direction: column;
            height: auto;
            width: 95%;
        }

        .left-area, .right-area {
            width: 100%;
            padding: 20px;
        }

        .left-area img {
            width: 30%;
        }
    }




